h3 {
  font-size: 2rem;
  color: #555555;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.text {
  line-height: 26px;
  font-size: 1.4rem;
}

#block-1 h3 {
  margin-bottom: 40px;
}

#block-1 .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
#block-1 .content .img {
  max-width: calc(50% + 35px);
  width: 100%;
}
#block-1 .content .img img {
  width: 100%;
}
#block-1 .content h4 {
  color: #71bb48;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 22px;
  letter-spacing: 1px;
  line-height: 30px;
}
#block-1 .content .block-content {
  max-width: calc(50% - 35px);
  padding: 0 60px 0 40px;
}

#block-2 {
  margin-bottom: 80px;
}
#block-2 h3 {
  margin-bottom: 30px;
}
#block-2 .title-content {
  margin-top: 75px;
}
#block-2 .content-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
#block-2 .content-2 .img {
  max-width: 360px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 20px 60px;
}
#block-2 .content-2 .img img {
  width: 100%;
}
#block-2 .content-2 .block-content {
  padding-left: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
  #block-1 .content {
    flex-wrap: wrap;
    margin: auto;
  }
  #block-1 .content .img {
    margin: auto;
    max-width: 100%;
  }
  #block-1 .content .block-content {
    max-width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  #block-2 {
    margin-top: 20px;
  }
  #block-2 .content-2 {
    flex-wrap: wrap;
  }
  #block-2 .content-2 .img {
    margin: auto;
  }
  #block-2 .content-2 .block-content {
    margin-top: 20px;
    padding: 0;
  }
}
