html {
  font-size: 10px;
  line-height: 1; }
  html a {
    outline: none !important;
    color: inherit; }

img {
  display: block;
  image-rendering: pixelated; }

header img {
  display: inline; }

.top-title .title {
  font-weight: 400; }
  .top-title .title span {
    line-height: 1.1; }

button {
  outline: none;
  font-family: inherit !important;
  font-size: inherit !important; }

body {
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 1.4rem; } }

.ele-hover {
  opacity: 1;
  transition: all 0.3s ease; }
  .ele-hover:hover {
    opacity: 0.8; }

.title-h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2rem; }
  @media screen and (max-width: 768px) {
    .title-h3 {
      font-size: 1.8rem;
      margin-bottom: 25px; } }

.wrap-style {
  display: flex;
  justify-content: space-between; }

.f-sample14 {
  font-size: 1.4rem; }
  @media screen and (max-width: 768px) {
    .f-sample14 {
      font-size: 1.2rem; } }

.f-sample16 {
  font-size: 1.6rem; }
  @media screen and (max-width: 768px) {
    .f-sample16 {
      font-size: 1.4rem; } }

.hover-ef {
  position: relative;
  z-index: 0; }
  .hover-ef::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 1px;
    top: 1px;
    right: 1px;
    background-image: linear-gradient(to bottom, white 60%, rgba(0, 0, 0, 0.3));
    border-radius: 18px;
    z-index: -1; }
  .hover-ef.active::after {
    background-image: linear-gradient(to bottom, #71bb48 80%, #629f40); }
  .hover-ef span {
    height: 36px;
    min-height: 36px;
    display: flex;
    border-radius: inherit;
    width: 100%;
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    color: inherit;
    border-radius: 18px;
    transition: all 0.3s ease; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .hover-ef span {
        padding-top: 3px; } }
    .hover-ef span::after, .hover-ef span::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-radius: inherit;
      transition: all 0.3s ease; }
    .hover-ef span::after {
      background-color: #71bb48;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease; }
    .hover-ef span::before {
      background-color: white;
      z-index: -2;
      opacity: 1; }
  .hover-ef:hover span {
    transform: translateY(-5px); }

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0px auto; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 0px 20px; } }

.w-h-100 {
  width: 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.w-100v {
  width: 100vw; }

.h-100v {
  height: 100vh; }

.wmax {
  max-width: 100%; }

.fold1, .fold2 {
  margin-bottom: 75px; }
  @media screen and (max-width: 768px) {
    .fold1, .fold2 {
      margin-bottom: 50px; }
      .fold1-wrap, .fold2-wrap {
        flex-direction: column;
        max-width: 635px; } }

.fold1-figure {
  width: 100%;
  min-width: 350px;
  margin-right: 20px; }
  .fold1-figure img {
    border-radius: 20px; }
  @media screen and (max-width: 768px) {
    .fold1-figure {
      margin: 0px auto 20px;
      display: table;
      width: auto;
      min-width: 0px; } }

.fold1-content {
  max-width: 485px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .fold1-content {
      max-width: 100%; } }
  .fold1-content p {
    max-width: 430px;
    line-height: 1.8; }
    @media screen and (max-width: 768px) {
      .fold1-content p {
        max-width: 100%; } }
    .fold1-content p.text-color {
      color: #71bb48;
      font-weight: bold;
      margin-bottom: 25px; }
      @media screen and (max-width: 768px) {
        .fold1-content p.text-color {
          margin-bottom: 10px; } }

.fold2-ul {
  max-width: 340px; }
  @media screen and (max-width: 768px) {
    .fold2-ul {
      max-width: 100%; } }
  .fold2-ul:not(:last-of-type) {
    margin-right: 20px; }
    @media screen and (max-width: 768px) {
      .fold2-ul:not(:last-of-type) {
        margin-right: 0px;
        margin-bottom: 25px; } }
  @media screen and (max-width: 768px) {
    .fold2-ul .li-figure {
      display: table;
      margin: 0px auto; } }
  .fold2-ul .li-content span {
    display: block;
    text-align: center;
    line-height: 1;
    margin: 20px 0px; }
    @media screen and (max-width: 768px) {
      .fold2-ul .li-content span {
        margin: 10px 0px; } }
  .fold2-ul .li-content p {
    line-height: 1.8;
    letter-spacing: 0.02rem; }

.fold3 {
  margin-bottom: 80px; }
  .fold3 dl {
    max-width: 980px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    border-top: 1px solid #cccccc; }
    .fold3 dl:first-of-type {
      border-top: 1px solid #cccccc; }
    .fold3 dl:last-of-type {
      border-bottom: 1px solid #cccccc; }
  .fold3 dd {
    font-weight: bold; }
